.project-list {
  margin-top: 1rem;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

@media (min-width: 768px) {
  .projects-container {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}